<div class="event-search">
  <h2>Search for Events by Location</h2>
  <form id="search-form">
    <div class="field">
      <label class="label" for="location">Location</label>
      <div class="control">
        <input class="input" type="text" id="location" name="location" placeholder="Enter location">
      </div>
    </div>
  </form>
</div>


<div class="event-list">
  <h2>Events</h2>
  <ul id="events">
    {{each events}}
      <li class="box">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <p>Date: {{formatDate event_date}}</p>
        <p>Location: {{location}}</p>
      </li>
    {{else}}
      <p>No events found.</p>
    {{/each}}
  </ul>
</div>